<div class="sidebar w-sidebar">
     <div class="sidebar-content">
          <div class="flex px-1 py-1.1">
               <div class="self-center">
                    <img src="assets/images/logoIcon-Black.png" alt="">
               </div>
               <div class="pl-2">
                    <div class="font-medium text-textDark text-15"> Angular Jira Clone </div>
                    <div class="text-textMedium text-13"> Software Project </div>
               </div>
          </div>

          <div class="ng-star-inserted">
               <a class="link allowed ng-star-inserted" [routerLink]="">
                    <i class="fas fa-th-list mr-4"></i>
                    <div class="pt-px text-15">
                         Kanban Board
                    </div>
               </a>
          </div>
          <div class="ng-star-inserted">
               <a class="link allowed ng-star-inserted" [routerLink]="">
                    <i class="fas fa-cog mr-4"></i>
                    <div class="pt-px text-15">
                         Project Settings
                    </div>
               </a>
               <div class="divider ng-star-inserted"></div>
          </div>

          <div class="ng-star-inserted">
               <a class="link allowed ng-star-inserted" [routerLink]="">
                    <i class="fas fa-check-double mr-4"></i>
                    <div class="pt-px text-15">
                         Releases
                    </div>
               </a>
          </div>
          <div class="ng-star-inserted">
               <a class="link allowed ng-star-inserted" [routerLink]="">
                    <i class="fas fa-filter mr-4"></i>
                    <div class="pt-px text-15">
                         Issues and filters
                    </div>
               </a>
          </div>
          <div class="ng-star-inserted">
               <a class="link allowed ng-star-inserted" [routerLink]="">
                    <i class="fas fa-pager mr-4"></i>
                    <div class="pt-px text-15">
                         Pages
                    </div>
               </a>
          </div>
          <div class="ng-star-inserted">
               <a class="link allowed ng-star-inserted" [routerLink]="">
                    <i class="fas fa-yin-yang mr-4"></i>
                    <div class="pt-px text-15">
                         Reports
                    </div>
               </a>
          </div>
          <div class="ng-star-inserted">
               <a class="link allowed ng-star-inserted" [routerLink]="">
                    <i class="fab fa-yarn mr-4"></i>
                    <div class="pt-px text-15">
                         Components
                    </div>
               </a>
          </div>

     </div>
</div>