<aside class="navbar w-navbar flex-col py-6">
     <div class="navbarLeft-content">
          <div class="logoLink pb-2">
               <img src="assets/images/logoIcon-White.png" alt="">
          </div>

          <div class="item ng-star-inserted">
               <div class="itemIcon" placement="right" ngbPopover="Tìm Kiếm" triggers="mouseenter:mouseleave"
                    popoverClass="customTooltip">
                    <i class="fas fa-search"></i>
               </div>
          </div>
          <div class="item ng-star-inserted">
               <div class="itemIcon" placement="right" ngbPopover="Tạo Mới" triggers="mouseenter:mouseleave"
                    popoverClass="customTooltip">
                    <i class="fas fa-plus"></i>
               </div>
          </div>


     </div>
</aside>