.navbar {
    height: 100vh;
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    background-color: #0747a6;
    flex-shrink: 0;
}

.navbarLeft-content{
    height: 100%;
    background-color: #0747a6;
    flex-shrink: 0;
}

.logoLink,
.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 100%;
    min-height: 42px;
}

.itemIcon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: .1s;
    cursor: pointer;
}

.itemIcon:hover {
    background: #1c63ce;
}

.itemIcon i {
    color: white;
}

.customTooltip {
    background: rgba(0, 0, 0, .8);
    width: max-content;
}

.customTooltip .popover-body {
    color: white;
}

.customTooltip .arrow::after {
    border-right-color: rgba(0, 0, 0, .8);
}