@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a, a:active, a:focus, a:hover {
	text-decoration: none !important;
	outline: 0;
	cursor: pointer;
	transition: color .3s;
}